/* You can add global styles to this file, and also import other style files */

$black: black;

body {
    font-family: 'Noto Sans JP', sans-serif;

    h1 {
        font-size: 40px;
        margin: 0;
    }

    h2 {
        font-size: 20px;
        margin: 0;
    }

    .main {
        padding: 10px 40px;
    }
}
