<div>   
    <div class="pod" *ngFor="let joke of jokes; let i = index">
        <div class="top-bar">
            <h1>{{joke.question}}</h1>
        </div>
        <div class="spoiler-button">
            <button class="btn btn-success" *ngIf="!joke.revealed" (click)="joke.revealed = !joke.revealed">Reveal Answer</button>
            <h1 *ngIf="joke.revealed">{{joke.answer}} ({{joke.character}}) 
                (<span class="jyutping" *ngFor="let jyutping of joke.jyutpings">{{jyutping.ping}}<sup>{{jyutping.tone}}</sup></span>)
            </h1>
        </div>
    </div>
</div>
